#expression {
    position: relative;
    float: left;
    margin: 3px;
}
#eval {
    position: relative;
    float: left;
    margin: 3px;
}
#eval:hover {
    cursor: pointer;
}
#result {
    position: relative;
    float: left;
    margin: 3px;
}
#show-history {
    position: relative;
    float: left;
    margin: 3px;
}
#show-history:hover {
    cursor: pointer;
}
#clear-history {
    position: relative;
    float: left;
    margin: 3px;
}
#clear-history:hover {
    cursor: pointer;
}
#history {
    position: relative;
    float: left;
    clear: left;
}
